/dts-v1/;
#include <nordic/nrf52833_qdaa.dtsi>
#include <zephyr/dt-bindings/led/led.h>
#include "nRF52833_tag-pinctrl.dtsi"

/ {
	model = "LP custom tag";
	compatible = "Innovaforce,nRF52833-tag";

	chosen {
		zephyr,sram = &sram0;
		zephyr,flash = &flash0;
		zephyr,code-partition = &slot0_partition;
	};

	aliases {
		led0 = &status_led;
		led-strip = &ws2812;
		button0 = &user_button;
	};


	leds {
		compatible = "gpio-leds";
		status_led: led_0 {
			gpios = <&gpio0 30 GPIO_ACTIVE_HIGH>;
		};
	};

	buttons {
		compatible = "gpio-buttons";
		user_button: button_0 {
			gpios = <&gpio0 17 GPIO_ACTIVE_HIGH>;
			label = "Button 0";
		};
		accel_int: accel_int_0 {
			gpios = <&gpio0 28 GPIO_ACTIVE_HIGH>;
			label = "Accel INT1";
		};
	};
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		boot_partition: partition@0 {
			label = "mcuboot";
			reg = <0x00000000 DT_SIZE_K(48)>;
		};

		slot0_partition: partition@c000 {
			label = "image-0";
			reg = <0x0000c000 DT_SIZE_K(220)>;
		};

		slot1_partition: partition@43000 {
			label = "image-1";
			reg = <0x00043000 DT_SIZE_K(220)>;
		};

		storage_partition: partition@7a000 {
			label = "storage";
			reg = <0x0007a000 DT_SIZE_K(24)>;
		};
	};
};

&nfct {
	status = "okay";
};

&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&i2c0 {
	compatible = "nordic,nrf-twim";
	status = "okay";
	pinctrl-0 = <&i2c0_default>;
	pinctrl-1 = <&i2c0_sleep>;
	pinctrl-names = "default", "sleep";

	fuel_gauge: bq274xx@55 {
		compatible = "ti,bq274xx";
		reg = <0x55>;
		design-voltage = <4200>;
		design-capacity = <400>;
		taper-current = <40>;
		terminate-voltage = <3000>;
	};
};

&spi1 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	pinctrl-0 = <&spi1_default>;
	pinctrl-1 = <&spi1_sleep>;
	pinctrl-names = "default", "sleep";
	cs-gpios = <&gpio0 11 GPIO_ACTIVE_LOW>;
};

&spi3 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	pinctrl-0 = <&spi3_default>;
	pinctrl-1 = <&spi3_sleep>;
	pinctrl-names = "default", "sleep";

	ws2812: ws2812@0 {
		compatible = "worldsemi,ws2812-spi";
		reg = <0>;
		spi-max-frequency = <4000000>;
		chain-length = <1>;
		color-mapping = <LED_COLOR_ID_GREEN
				 LED_COLOR_ID_BLUE
				 LED_COLOR_ID_RED>;
		spi-one-frame = <0x70>;
		spi-zero-frame = <0x40>;
	};
};

